# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
docs

# SQLite databases & temporary files
*.db
prisma/*.db
*.db-shm
*.db-wal
prisma/*.db-shm
prisma/*.db-wal
.env
.env.*
!.env.example
